/*------------------------- Desktop dimension 1440 x 1024 */
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 25px;
  max-height: 500px;
  min-width: 100px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.product__info {
  height: 100px;
  margin-bottom: 40px;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  margin-top: 10px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}

.product > button:hover {
  background-color: #e7a600;
  cursor: pointer;
}

.product > button:active {
  transform: translateY(4px);
}

/*--------------------------------------------- */
@media (max-width: 1200px) {
  .product {
    max-height: 350px;
  }

  .product > img {
    max-height: 130px;
  }

  .product__info {
    height: 100px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1000px) {
  .product {
    max-width: 800px;
    min-width: 400px;
  }

  .product > img {
    margin-top: 10px;
    max-height: 150px;
  }

  .product__info {
    margin: 20px;
    text-align: center;
  }

  .product__price {
    margin-top: 10px;
  }

  .product__rating {
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .product__infoTitle {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*------------------------ */
@media (max-width: 839px) {
  .product__infoTitle {
    width: 600px;
    height: 55px;
    overflow:hidden;
    text-overflow:ellipsis;
  }
}

/*------------------------- Mobile dimension  */
@media (max-width: 700px) {

}
